@import './base.css';

#app {
}

.df {
  display: flex;
}

.fc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jcs {
  justify-content: flex-start !important;
}

.jcsa {
  justify-content: space-around !important;
}

.jcsb {
  justify-content: space-between !important;
}

.jce {
  justify-content: flex-end !important;
}

.ais {
  align-items: start;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.jcc {
  justify-content: center !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
  }

  #app {
  }
}
